@{
    ViewData["Title"] = "Home Page";
}
<div class="container bg-white">
    <div class="row">
        <div class="col-md-4 justify-content-center bg-light">
            <div class="col-auto bg-secondary align-middle p-2" style="border-radius: 7px; height:2rem">
                <span class="text-white font-weight-bold">Search flight + hotel</span>
            </div>
            <div class="row p-1">
                <div class="col-4 greytext"><img src="~/images/box.jpg" border="0" alt="" />Holidays</div>
                <div class="col-4 greytext"><img src="~/images/box.jpg" border="0" alt="" />Holidays</div>
                <div class="col-4 greytext"><img src="~/images/box.jpg" border="0" alt="" />Holidays</div>
            </div>
            <div class="row p-1">
                <div class="col-4 redishtext"><img src="~/images/box.jpg" border="0" alt="" />Flight + Hotel</div>
                <div class="col-4 greytext"><img src="~/images/box.jpg" border="0" alt="" />Holidays</div>
                <div class="col-4 greytext"><img src="~/images/box.jpg" border="0" alt="" />Holidays</div>
            </div>
            <div class="row p-1">
                <div class="col-4 greytext"><img src="~/images/box.jpg" border="0" alt="" />Flight Only</div>
                <div class="col-4 greytext"><img src="~/images/box.jpg" border="0" alt="" />Euorstar</div>
            </div>
            <div class="row p-1">
                <div class="col-6">Leaving from:</div>
                <div class="col-6">Going to:</div>
            </div>
            <div class="row p-1">
                <div class="col-6">
                    <select class="custom-select" style="font-size:small">
                        <option>
                            London all airport
                        </option>
                    </select>
                </div>
                <div class="col-6">
                    <select class="custom-select" style="font-size:small">
                        <option>pick up from top 10 >></option>
                    </select>
                </div>
            </div>
            <div class="row p-1">
                <div class="col-6 text-left">Leaving Date:</div>
                <div class="col-5 text-left">Leaving Time:</div>
            </div>
            <div class="row p-1">
                <div class="col-6">
                    <select class="custom-select w-auto">
                        <option>9</option>
                    </select>
                    <select class="custom-select w-auto">
                        <option>june</option>
                    </select>
                    <img src="~/images/calender.jpg" border="0" alt="" />
                </div>
                <div class="col-5">
                    <select class="custom-select w-auto">
                        <option>any time</option>
                    </select>
                </div>
            </div>
            <div class="row p-1">
                <div class="col-6 text-left">Return Date:</div>
                <div class="col-5 text-left">Return Time:</div>
            </div>
            <div class="row p-1">
                <div class="col-6 text-left">
                    <select class="custom-select w-auto">
                        <option>9</option>
                    </select>
                    <select class="custom-select w-auto">
                        <option>june</option>
                    </select>
                    <img src="~/images/calender.jpg" border="0" alt="" />
                </div>
                <div class="col-5 text-left">
                    <select class="custom-select w-auto">
                        <option>any time</option>
                    </select>
                </div>
            </div>
            <div class="row p-1 m-1">
                <input type="checkbox" style="margin: 8px 4px 0px 2px;" />
                <a style="margin: 4px 0px 0px 2px;" href="#">Direct flights only</a>
            </div>
            <div class="row p-1">
                <div class="col-4">No. of rooms:</div>
                <div class="col-8"><a href="#">How many people can travel?</a></div>
            </div>
            <div class="row p-1">
                <div class="col-4">
                    <select class="custom-select w-auto">
                        <option>1</option>
                    </select>
                </div>
                <div class="col-8">
                    <pre>adults:    children:    infants:</pre>
                </div>
            </div>
            <div class="row p-1">
                <div class="col-4 text-right">
                    <strong class="align-middle">Room 1</strong>
                </div>
                <div class="col-7">
                    <div class="row">
                        <div class="col-4">
                            <select class="custom-select w-auto">
                                <option>2</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <select class="custom-select w-auto">
                                <option>2</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <select class="custom-select w-auto">
                                <option>0</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-1">
                <div class="col-6 offset-6">
                    <div class="row">
                        <div class="col-5">(0-2)</div>
                        <div class="col-4">(0-2)</div>

                    </div>
                </div>
            </div>
            <div class="row p-1 m-1">
                <img src="~/images/livechat.jpg" border="0" alt="" />
            </div>
            <div class="row p-1 m-1">
                <img src="~/images/goodstuf.jpg" border="0" alt="" />
            </div>
        </div>
        <div class="col-md-4 justify-content-center bg-light p-0 text-center">
            <div class="col-auto bg-danger text-left p-2" style="border-radius: 7px;  height:2rem">
                <span class="text-white font-weight-bold">Safaris and Tours</span>
            </div>
            <div class="row p-1 text-center">
                <div class="col-1">BP</div>
                <div class="col-6">Riverside and Montopolis(less</div>
                <div class="col-3">Austin - SE</div>
                <div class="col-2 maroontext">$2.46</div>
            </div>
            <div class="row p-1">
                <div class="col-1">Conoco</div>
                <div class="col-6">Riverside and Montopolis</div>
                <div class="col-3">Austin - SE</div>
                <div class="col-2 maroontext">$2.46</div>
            </div>
            <div class="row p-1">
                <div class="col-1">Valero</div>
                <div class="col-6">Oitorf and Wilow Creek</div>
                <div class="col-3">Austin - SE</div>
                <div class="col-2 maroontext">$2.46</div>
            </div>
            <div class="row p-1">
                <div class="col-1">BP</div>
                <div class="col-6">Riverside and Montopolis</div>
                <div class="col-3">Austin - SE</div>
                <div class="col-2 maroontext">$2.46</div>
            </div>
            <div class="col-auto bg-danger text-left p-2" style="border-radius: 7px;  height:2rem">
                <span class="text-white font-weight-bold">Holidays</span>
            </div>
            <div class="row p-1">
                <div class="col-1">BP</div>
                <div class="col-6">Riverside and Montopolis(less</div>
                <div class="col-3">Austin - SE</div>
                <div class="col-2 maroontext">$2.46</div>
            </div>
            <div class="row p-1">
                <div class="col-1">Conoco</div>
                <div class="col-6">Riverside and Montopolis</div>
                <div class="col-3">Austin - SE</div>
                <div class="col-2 maroontext">$2.46</div>
            </div>
            <div class="row p-1">
                <div class="col-1">Valero</div>
                <div class="col-6">Oitorf and Wilow Creek</div>
                <div class="col-3">Austin - SE</div>
                <div class="col-2 maroontext">$2.46</div>
            </div>
            <div class="row p-1">
                <div class="col-1">BP</div>
                <div class="col-6">Riverside and Montopolis</div>
                <div class="col-3">Austin - SE</div>
                <div class="col-2 maroontext">$2.46</div>
            </div>
            <div class="col-auto bg-danger text-left p-2" style="border-radius: 7px;  height:2rem">
                <span class="text-white font-weight-bold">Hotels</span>
            </div>
            <div class="row p-1 text-left">
                <div class="col-9">london top hotel deals</div>
                <div class="col-3 maroontext">fr $63</div>
            </div>
            <div class="row p-1 text-left">
                <div class="col-9">uk & ireland top hotel deals</div>
                <div class="col-3 maroontext">fr $35</div>
            </div>
            <div class="row p-1 text-left">
                <div class="col-9">european top hotel deals</div>
                <div class="col-3 maroontext">fr $42</div>
            </div>
            <div class="row p-1 text-left">
                <div class="col-9">4* stylish hotel barcelona</div>
                <div class="col-3 maroontext">fr $64</div>
            </div>
            <div class="col-auto bg-danger text-left p-2" style="border-radius: 7px;  height:2rem">
                <span class="text-white font-weight-bold">Air travel and charter</span>
            </div><br />
            <div class="col-auto bg-danger text-left p-2" style="border-radius: 7px;  height:2rem">
                <span class="text-white font-weight-bold">Restaurants</span>
            </div><br />
            <div class="col-auto bg-danger text-left p-2" style="border-radius: 7px;  height:2rem">
                <span class="text-white font-weight-bold">Car Hire</span>
            </div><br />
            <div class="col-auto bg-danger text-left p-2" style="border-radius: 7px;  height:2rem">
                <span class="text-white font-weight-bold">Travel insurance</span>
            </div><br />
            <div class="col-auto bg-danger text-left p-2" style="border-radius: 7px;  height:2rem">
                <span class="text-white font-weight-bold">Foreign exchange</span>
            </div><br />
            <div class="col-auto bg-danger text-left p-2" style="border-radius: 7px;  height:2rem">
                <span class="text-white font-weight-bold">Foreign exchange</span>
            </div><br />
        </div>
        <div class="col-md-4 justify-content-center bg-light text-center w-75">
            <div class="col-auto bg-warning text-left p-2" style="border-radius: 7px;  height:2rem">
                <span class="text-white font-weight-bold">Travel News</span>
            </div>
            <div class="travelbox row p-2 m-1" style="width: 100%">
                <div class="col-3">
                    <img src="~/images/statue.jpg" border="0" alt="" />
                </div>
                <div class="col-9">
                    <span>Whenever you buy a city break with us which involves air travel, you get ATOL protection added to your booking.</span><br>
                    <a href="#"><strong>more</strong></a>
                </div>
            </div>
            <div class="col-auto bg-warning text-left p-2" style="border-radius: 7px;  height:2rem">
                <span class="headingwhite">Travel News</span>
            </div>
            <div class="travelbox row p-2 m-1" style="width: 100%">
                <div class="col-3">
                    <img src="~/images/statue.jpg" border="0" alt="" />
                </div>
                <div class="col-9">
                    <span>Whenever you buy a city break with us which involves air travel, you get ATOL protection added to your booking.</span><br>
                    <a href="#"><strong>more</strong></a>
                </div>
            </div>
            <div class="col-auto bg-warning text-left p-2" style="border-radius: 7px;  height:2rem">
                <span class="headingwhite">Travel News</span>
            </div>
            <div class="travelbox row p-2 m-1" style="width: 100%">
                <div class="col-3">
                    <img src="~/images/statue.jpg" border="0" alt="" />
                </div>
                <div class="col-9">
                    <span>Whenever you buy a city break with us which involves air travel, you get ATOL protection added to your booking.</span><br>
                    <a href="#"><strong>more</strong></a>
                </div>
            </div>
            <div class="row mt-2 p-1 m-1">
                <img style="width: 340px" src="~/images/girlfly.jpg" border="0" alt="" />
            </div>
            <div class="row mt-2 p-1 m-1">
                <img style="width: 340px" src="~/images/girlfly.jpg" border="0" alt="" />
            </div>
        </div>
    </div>
    <hr>
</div>

